@charset "UTF-8";

body {
	background-color:firebrick;
}

#carouselExampleIndicators1 {
background-color: antiquewhite;
}

#cena1 {
	width: 800px;
	height: auto;
}
#cena2 {
	width: 800px;
	height: auto;
}
#cena3 {
	width: 800px;
	height: auto;
}
#h5 {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: brown;
	background-color: beige;
	opacity: 80%;
}
#h502 {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: brown;
	background-color: beige;
	opacity: 80%;
}
#h503 {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: brown;
	background-color: beige;
	opacity: 80%;
}
#p1 {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	color: brown;
	background-color: beige;
	opacity: 80%;
}
#carta1 {
	padding-top: 20px;
}
#carta2 {
	padding-top: 20px;
}
#carta3 {
	padding-top: 20px;
}
#tar1  {
	padding: 20px;
}
#tar2 {
	padding: 20px;
	height: 150px;
}
#tar3 {
	padding: 20px;
}
#man {
	width: 350px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}


#pavo2 {
	width: 500px;
	height: auto;
	margin-left: auto;
	padding-right:auto;
}

#espacio1 {
background-color: antiquewhite;
	}
#espacio2 {
background-color: antiquewhite;
	}
#espacio3 {
background-color: antiquewhite;
	}

#pavo3 {
	width: 500px;
	height: auto;
	margin-left: auto;
	padding-right:auto;
}

#pavo4 {
	width: 500px;
	height: auto;
	margin-left: auto;
	padding-right:auto;
}

#blancapasta {
	padding-top: 30px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}
#pasta01 {
	margin-right:auto;
	margin-left: auto;
}

#pasta02 {
	margin-right:auto;
	margin-left: auto;
}
#bolo {
	padding-top: 30px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
}

#boton1 {
	background-color: darkolivegreen;
}
#boton2 {
	
background-color: darkolivegreen;
	
}


#pastaroja {
	color:red;
	font-size: 30px;
}

#pastablanca {
	color:red;
	font-size: 30px;
}






















